{% extends "experiment.html" %}
{% block table%}
<thead>
  <tr>
    <th scope="col"> </th>
    <th scope="col">1</th>
    <th scope="col">2</th>
    <th scope="col">3</th>
    <th scope="col">4</th>
    <th scope="col">5</th>
    <th scope="col">6</th>
    <th scope="col">7</th>
    <th scope="col">8</th>
    <th scope="col">9</th>
    <th scope="col">10</th>
    <th scope="col">11</th>
    <th scope="col">12</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">A</th>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A1" value="A1">A1</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A2" value="A2">A2</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A3" value="A3">A3</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A4" value="A4">A4</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A5" value="A5">A5</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A6" value="A6">A6</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A7" value="A7">A7</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A8" value="A8">A8</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A9" value="A9">A9</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A10" value="A10">A10</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A11" value="A11">A11</button></td>
    <td><button type="button" data-toggle="button" class="btn btn-primary btn-sm" name="A12" value="A12">A12</button></td>
  </tr>
  <tr>
    <th scope="row">B</th>
  </tr>
  <tr>
    <th scope="row">C</th>
  </tr>
  <tr>
    <th scope="row">D</th>
  </tr>
  <tr>
    <th scope="row">E</th>
  </tr>
  <tr>
    <th scope="row">F</th>
  </tr>
  <tr>
    <th scope="row">G</th>
  </tr>
  <tr>
    <th scope="row">H</th>
  </tr>
</tbody>
{% endblock%}
